body {
  background-color: $backdrop-color;
}
.main {
  margin-bottom: 5%;
}
ul {
  list-style: none;
  li {
    padding: 0;
  }
}
.nav-item {
  cursor: pointer;
}
.select {
  width: 40vw;
}
.row {
  padding: 0;
}
