$link-color:red;

$font-large:2rem;
$font-midium:1.6rem;
$font-midium-2:1.3rem;
$font-small:0.8rem;
$textLineHeight:1.5rem;

//主題色系
$backdrop-color:#F2F1ED;
$main_color2:#e3edf7;
$main_color:#F2F1ED;
$secondary_color:#F39800;
$secondary2_color:#FDD000;
$decoration_color:#E60013;
$decoration_color2:#2563AF;

// $decoration_color_alert:red;
// $decoration_color_phone:blueviolet;
//圖片
// $loading-img:url('../images/loading.svg');
// $bg-img:url('../images/bg.jpg');
// $sceneBg:url('../images/sceneBg.jpg');
// $foodBg:url('../images/foodBg.jpg');

//icon
$icon-sprite:url('../images/icon.png');
$island-sprite:url('../images/island.png');