.categoryBar {
  justify-content: space-around;
}
.orderTab {
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  box-shadow: $outShadow;
  border-radius: $borderRadius;
}
.category-text{
  margin-top: 1rem;
}