.filter {
  justify-content: center;
}
.filterInput {
  // width: 30vw;
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  box-shadow: $outShadow;
  border-radius: $borderRadius;
  border: none;
}
.filterInput:hover {
  background: $backdrop-color;
  box-shadow: $insideShadow;
  border-radius: $borderRadius;
}
.filterInput:focus-visible,
.filterInput:focus {
  box-shadow: 0px 0px beige;
}

.filter-dropdown {
  // width: 30vw;
  // height: 500px;
  overflow-y: auto;
  margin: 10px;
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  box-shadow: $outShadow;
  border-radius: $borderRadius;
  border: none;
}
.dropdown-item:hover {
  padding: 10px;
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  box-shadow: $outShadow;
  border-radius: $borderRadius;
}
.point {
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  position: relative;
  border-radius: $borderRadius;
  box-shadow: $outShadow;
  div {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
      drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
  }
}
.point:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 40px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #edf3f8;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  // drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
}
.dropdown {
  border-radius: $borderRadius;
  box-shadow: $outShadow;
}
