.sv {
  width:500px;
  height: 450px;
  // background-color: yellow;
  fill: #a8cdd7;
  stroke: white;
  transform: scale(1.5);
}
.island {
  top: 5%;
  left: -40%;
  z-index: 1;
}
.active {
  fill: red;
}
.hover {
  fill: #c57b7a;
  cursor: pointer;
}
.ponho {
  margin-left: 90%;
  margin-top: 70%;
}
.kin {
  margin-left: 50%;
  margin-top: 30%;
}
.langjon {
  margin-left: 50%;
  margin-top: 30%;
}
