.sv {
  width: 500px;
  height: 450px;
  // background-color: yellow;
  fill: #a8cdd7;
  stroke: white;
  transform: scale(1.5);
  filter: drop-shadow(3px 3px 3px rgba(111, 140, 176, 0.5))
    drop-shadow(-2px -2px 2px rgba(255, 255, 255, 1));
}
.island {
  top: 5%;
  left: -40%;
  z-index: 1;
  filter: drop-shadow(3px 3px 3px rgba(111, 140, 176, 0.5))
    drop-shadow(-2px -2px 2px rgba(255, 255, 255, 1));
}
.active {
  fill: #0478ff;
}
.hover {
  fill: #c57b7a;
  cursor: pointer;
}
.ponho {
  margin-left: 90%;
  margin-top: 70%;
}
.kin {
  margin-left: 50%;
  margin-top: 30%;
}
.langjon {
  margin-left: 50%;
  margin-top: 30%;
}
