.sv {
  height: 350px;
  // background-color: yellow;
  fill: #a8cdd7;
  stroke: white;
}
.island {
  top: -5%;
  left: -50%;
}
.active {
  fill: red;
}
.hover {
  fill: #c57b7a;
  cursor: pointer;
}
.ponho {
  margin-left: 90%;
  margin-top: 70%;
}
.kin {
  margin-left: 50%;
  margin-top: 30%;
}
.langjon {
  margin-left: 50%;
  margin-top: 30%;
}
