.busInfo {
  width: 50%;
  background-color: burlywood;
  height: 80vh;
}
.openStreeMap {
  width: 50%;
  height: 80vh;
}
.busInfo-li {
  justify-content: space-between;
}
.searchResultBar {
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  box-shadow: $outShadow;
  border-radius: $borderRadius;
}
