body {
  background-color: #e3edf7;
}

ul {
  list-style: none;
}

ul li {
  padding: 0;
}

.nav-item {
  cursor: pointer;
}

.kin:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: 0px 0px;
  background-size: 574.2px auto;
}

.kin {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: -478.5px 0px;
  background-size: 574.2px auto;
}

.ponho:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: -95.7px 0px;
  background-size: 574.2px auto;
}

.ponho {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: -287.1px 0px;
  background-size: 574.2px auto;
}

.langjon {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: -382.8px 0px;
  background-size: 574.2px auto;
}

.langjon:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 95.7px;
  height: 56.7px;
  background-position: -191.4px 0px;
  background-size: 574.2px auto;
}

.bus1 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 56px;
  height: 56px;
  background-position: 0px 0px;
  background-size: 840px auto;
}

.step1 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 36.4px;
  height: 36.4px;
  background-position: -36.4px 0px;
  background-size: 546px auto;
}

.redBus {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -140px 0px;
  background-size: 1050px auto;
}

.roadPlan {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 56px;
  height: 56px;
  background-position: -168px 0px;
  background-size: 840px auto;
}

.busStop {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 56px;
  height: 56px;
  background-position: -280px 0px;
  background-size: 840px auto;
}

.help {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -420px 0px;
  background-size: 1050px auto;
}

.backSpace {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -560px 0px;
  background-size: 1050px auto;
}

.enter {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 21px;
  height: 21px;
  background-position: -189px 0px;
  background-size: 315px auto;
}

.ticket {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 56px;
  height: 56px;
  background-position: -616px 0px;
  background-size: 840px auto;
}

.step2 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 36.4px;
  height: 36.4px;
  background-position: -473.2px 0px;
  background-size: 546px auto;
}

.figma {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 34px;
  height: 34px;
  background-position: 0px 0px;
  background-size: 170px auto;
}

.boostrap {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 34px;
  height: 34px;
  background-position: -34px 0px;
  background-size: 170px auto;
}

.icons8 {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 34px;
  height: 34px;
  background-position: -68px 0px;
  background-size: 170px auto;
}

.vue {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 34px;
  height: 34px;
  background-position: -102px 0px;
  background-size: 170px auto;
}

.ts {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 34px;
  height: 34px;
  background-position: -136px 0px;
  background-size: 170px auto;
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter,
.fade-right-leave-to {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.fade-left-enter,
.fade-left-leave-to,
.fade-right-enter,
.fade-right-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.categoryService, .selectCity {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cityList p {
  margin-top: 1rem;
  text-align: center;
}

.header-bg {
  margin-left: auto;
  margin-right: auto;
}

.infoDisplay-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.busInfo {
  width: 100%;
  height: 39vh;
  overflow: auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  font-weight: bolder;
}

.busInfo-li:hover {
  cursor: pointer;
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.busInfo-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busInfo-li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busEstimatedTime-li p {
  text-align: center;
}

.longTime {
  background-color: #f2f1ed;
}

.nearTime {
  background-color: #f39800;
}

.alertTime {
  background-color: #e60013;
}

.throughStopRoutes-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.throughStopRoutes {
  cursor: pointer;
  color: #0C69C0;
  text-align: center;
}

.searchResultBar {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchResultBar p {
  margin-top: 1rem;
  font-weight: bolder;
  color: #0C69C0;
}

.originStopGo, .originStopBack, .targetStopGo, .targetStopBack {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link {
  width: 100%;
}

.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  text-align: center;
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
}

.footer img {
  height: 100px;
  margin-top: -5%;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.openStreeMap {
  height: 60vh;
}

.requestLoading {
  background-image: url("../images/loading.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.SquareBtn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
}

.SquareBtn div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.SquareBtn p {
  font-size: 1.3rem;
}

.SquareBtn:hover {
  background: #e3edf7;
  border-radius: 7px;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
}

.btnActive {
  width: 100%;
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%) !important;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white) !important;
          filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white) !important;
  border-radius: 7px;
  -webkit-box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
          box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
}

.btnActive p {
  color: black !important;
}

.citybtnActive {
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  -webkit-filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white) !important;
          filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white) !important;
  border-radius: 7px;
  -webkit-box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
          box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
}

.citybtnActive p {
  color: black !important;
}

.activeRoute {
  background-color: #0478ff;
}

.miniSelectBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.miniSelectBtn div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.miniSelectBtn p {
  font-size: 1.3rem;
}

.miniSelectBtn:hover {
  background: #e3edf7;
  border-radius: 7px;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
}

.neumorphism {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  color: #0C69C0;
  font-weight: bolder;
}

.categoryBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderTab {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.category-text {
  margin-top: 1rem;
}

.category-ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sv {
  width: 500px;
  height: 450px;
  fill: #a8cdd7;
  stroke: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.island {
  top: 5%;
  left: -40%;
  z-index: 1;
}

.active {
  fill: red;
}

.hover {
  fill: #c57b7a;
  cursor: pointer;
}

.ponho {
  margin-left: 90%;
  margin-top: 70%;
}

.kin {
  margin-left: 50%;
  margin-top: 30%;
}

.langjon {
  margin-left: 50%;
  margin-top: 30%;
}

.filter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filterInput {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
}

.filterInput:hover {
  background: #e3edf7;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
  border-radius: 7px;
}

.filterInput:focus-visible,
.filterInput:focus {
  -webkit-box-shadow: 0px 0px beige;
          box-shadow: 0px 0px beige;
}

.filter-dropdown {
  overflow-y: auto;
  margin: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
}

.dropdown-item:hover {
  padding: 10px;
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.point {
  width: 2.5rem;
  height: 2.5rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  position: relative;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
}

.point div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
}

.point:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 40px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #edf3f8;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.dropdown {
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
}

@media screen and (max-width: 1024px) {
  .neumorphism {
    font-size: 1.3rem;
  }
  .SquareBtn p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    position: static;
  }
  .categoryService {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=all.css.map */