body {
  background-color: #e3edf7;
}

.main {
  margin-bottom: 5%;
}

ul {
  list-style: none;
}

ul li {
  padding: 0;
}

.home {
  height: 70vh;
}

.nav-item {
  cursor: pointer;
}

.kin:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: 0px 0px;
  background-size: 382.8px auto;
}

.kin {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: -319px 0px;
  background-size: 382.8px auto;
}

.ponho:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: -63.8px 0px;
  background-size: 382.8px auto;
}

.ponho {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: -191.4px 0px;
  background-size: 382.8px auto;
}

.langjon {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: -255.2px 0px;
  background-size: 382.8px auto;
}

.langjon:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 63.8px;
  height: 37.8px;
  background-position: -127.6px 0px;
  background-size: 382.8px auto;
}

.bus1 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: 0px 0px;
  background-size: 1050px auto;
}

.step1 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 36.4px;
  height: 36.4px;
  background-position: -36.4px 0px;
  background-size: 546px auto;
}

.redBus {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -140px 0px;
  background-size: 1050px auto;
}

.roadPlan {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -210px 0px;
  background-size: 1050px auto;
}

.busStop {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -350px 0px;
  background-size: 1050px auto;
}

.help {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -420px 0px;
  background-size: 1050px auto;
}

.backSpace {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -560px 0px;
  background-size: 1050px auto;
}

.enter {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 21px;
  height: 21px;
  background-position: -189px 0px;
  background-size: 315px auto;
}

.ticket {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 70px;
  height: 70px;
  background-position: -770px 0px;
  background-size: 1050px auto;
}

.step2 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 36.4px;
  height: 36.4px;
  background-position: -473.2px 0px;
  background-size: 546px auto;
}

.figma {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 51px;
  height: 51px;
  background-position: 0px 0px;
  background-size: 255px auto;
}

.boostrap {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 59.5px;
  height: 59.5px;
  background-position: -59.5px 0px;
  background-size: 297.5px auto;
}

.icons8 {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 51px;
  height: 51px;
  background-position: -102px 0px;
  background-size: 255px auto;
}

.vue {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 51px;
  height: 51px;
  background-position: -153px 0px;
  background-size: 255px auto;
}

.ts {
  cursor: pointer;
  background-image: url("../images/1234567.png");
  width: 51px;
  height: 51px;
  background-position: -204px 0px;
  background-size: 255px auto;
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter,
.fade-right-leave-to {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.fade-left-enter,
.fade-left-leave-to,
.fade-right-enter,
.fade-right-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.header-bg {
  margin-left: auto;
  margin-right: auto;
}

.busInfo {
  width: 50%;
  background-color: burlywood;
  height: 80vh;
  overflow: auto;
}

.busInfo-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.openStreeMap {
  width: 50%;
  height: 80vh;
}

.busInfo-li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.throughStopRoutes {
  cursor: pointer;
}

.searchResultBar {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.footer {
  text-align: center;
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
}

.footer img {
  margin-top: -7%;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.requestLoading {
  background-image: url("../images/loading.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.SquareBtn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
}

.SquareBtn div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.SquareBtn p {
  font-size: 1.3rem;
}

.SquareBtn:hover {
  background: #e3edf7;
  border-radius: 7px;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
}

.btnActive {
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  color: black;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white);
          filter: drop-shadow(2px 2px 4px rgba(5, 5, 5, 0.3)) drop-shadow(-1px -1px 2px white);
  border-radius: 7px;
  -webkit-box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
          box-shadow: inset -2.5px -2.5px 6px #ffffff, inset 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 5px #ffffff;
}

.miniSelectBtn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.miniSelectBtn div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.miniSelectBtn p {
  font-size: 1.3rem;
}

.miniSelectBtn:hover {
  background: #e3edf7;
  border-radius: 7px;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
}

.categoryBar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.orderTab {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.category-text {
  margin-top: 1rem;
}

.sv {
  height: 350px;
  fill: #a8cdd7;
  stroke: white;
}

.island {
  top: -5%;
  left: -50%;
}

.active {
  fill: red;
}

.hover {
  fill: #c57b7a;
  cursor: pointer;
}

.ponho {
  margin-left: 90%;
  margin-top: 70%;
}

.kin {
  margin-left: 50%;
  margin-top: 30%;
}

.langjon {
  margin-left: 50%;
  margin-top: 30%;
}

.filter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filterInput {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
}

.filterInput:hover {
  background: #e3edf7;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
  border-radius: 7px;
}

.filterInput:focus-visible,
.filterInput:focus {
  -webkit-box-shadow: 0px 0px beige;
          box-shadow: 0px 0px beige;
}

.filter-dropdown {
  overflow-y: auto;
  margin: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
  border: none;
}

.dropdown-item:hover {
  padding: 10px;
  background: linear-gradient(160deg, #50caff 0%, #0478ff 100%);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.point {
  width: 2.5rem;
  height: 2.5rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  position: relative;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
}

.point div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(29, 18, 18, 0.5));
}

.point:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 40px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #edf3f8;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.dropdown {
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
}
/*# sourceMappingURL=all.css.map */