@media screen and (max-width: 1366px) {
  .home {
    height: 80vh;
  }
  .infoDisplay-container {
    height: 55vh;
  }
}
@media screen and (max-width: 1024px) {
  .neumorphism {
    font-size: $font-midium-2;
  }
  .SquareBtn {
    p {
      font-size: $font-midium;
    }
  }
  .infoDisplay-container {
    height: 62vh;
  }
  .footer {
    position: fixed;
    bottom: 0;
}
@media screen and (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    img {
      margin-top: -10%;
    }
  }
  .categoryService {
    margin-top: 10px;
  }
  .cityList {
    p {
      font-size: $font-small;
    }
  }
  .infoDisplay-container {
    height: 67vh;
  }
  .home {
    height: 85vh;
  }
}
@media screen and (max-width: 375px) {
  .cityList {
    p {
      font-size: 0.8rem;
    }
  }
  .footer {
    bottom: 0;
    img {
      height: 50px;
      margin-top: -12%;
    }
  }
}
